In [63]:
import pandas as pd
df = pd.read_csv('HandlingStringsCSV.csv', dtype='string')
df

   First Name   Last Name      Order Item OrderCode
0       Lois       Jones   chicken burger   abc_123
1     Brenda    Williams       ham burger   abc_123
2      Diane       Smith            pizza   abc_123
3   Benjamin     Johnson     french fries   abc_123
4    Patrick       Moore    chicken pizza   abc_123

In [64]:
df['First Name'].str.strip()

0        Lois
1      Brenda
2       Diane
3    Benjamin
4     Patrick
Name: First Name, dtype: string

In [66]:
df['Last Name'].str.rstrip()

0        Jones
1     Williams
2        Smith
3      Johnson
4        Moore
Name: Last Name, dtype: string

In [67]:
df['Order Item'].str.upper()

0    CHICKEN BURGER
1        HAM BURGER
2             PIZZA
3      FRENCH FRIES
4     CHICKEN PIZZA
Name: Order Item, dtype: string

In [68]:
df['Order Item'].str.lower()

0    chicken burger
1        ham burger
2             pizza
3      french fries
4     chicken pizza
Name: Order Item, dtype: string

In [69]:
df['Order Item'].str.capitalize()

0    Chicken burger
1        Ham burger
2             Pizza
3      French fries
4     Chicken pizza
Name: Order Item, dtype: string

In [70]:
df['Order Item'].str.title()

0    Chicken Burger
1        Ham Burger
2             Pizza
3      French Fries
4     Chicken Pizza
Name: Order Item, dtype: string

In [74]:
df['Order Item'].str.endswith('ger')

0     True
1     True
2    False
3    False
4    False
Name: Order Item, dtype: boolean

In [76]:
df['Order Item'].str.find('burger')

0     8
1     4
2    -1
3    -1
4    -1
Name: Order Item, dtype: Int64

In [77]:
df['Order Item'].str.contains('chicken')

0     True
1    False
2    False
3    False
4     True
Name: Order Item, dtype: boolean

In [79]:
df['Order Item']

0    chicken burger
1        ham burger
2             pizza
3      french fries
4     chicken pizza
Name: Order Item, dtype: string

In [80]:
df['Order Item'].str.contains(r'[a-z]')

0    True
1    True
2    True
3    True
4    True
Name: Order Item, dtype: boolean

In [81]:
df['Order Item'].str.contains(r'[a-z][0-9]')

0    False
1    False
2    False
3    False
4    False
Name: Order Item, dtype: boolean

In [82]:
df['Order Item'].str.replace('chicken','pork')

0     pork burger
1      ham burger
2           pizza
3    french fries
4      pork pizza
Name: Order Item, dtype: string

In [83]:
df

   First Name   Last Name      Order Item OrderCode
0       Lois       Jones   chicken burger   abc_123
1     Brenda    Williams       ham burger   abc_123
2      Diane       Smith            pizza   abc_123
3   Benjamin     Johnson     french fries   abc_123
4    Patrick       Moore    chicken pizza   abc_123

In [84]:
df['OrderCode'].str.split('_',expand=True)

     0    1
0  abc  123
1  abc  123
2  abc  123
3  abc  123
4  abc  123